# Explainatory Data Analysis

In [2]:
# Import relevant libraries
import dask.dataframe as dd

In [17]:
# Read in dataset
df = dd.read_parquet("../data/1_PREPARED/parking_ticket_2022.parquet")
df.head(5)

,summons_number,plate_id,registration_state,plate_type,issue_date,violation_code,vehicle_body_type,vehicle_make,issuing_agency,street_code1,...,vehicle_color,unregistered_vehicle,vehicle_year,meter_number,feet_from_curb,violation_post_code,violation_description,no_standing_or_stopping,hydrant_violation,double_parking_violation
0,1457617912,JEB5683,NY,PAS,2021-06-25T00:00:00.000,40,VAN,FORD,P,63430,...,GY,0,2007,-,3,NaN,NaN,NaN,NaN,NaN
1,1457617924,JAN2986,NY,PAS,2021-06-25T00:00:00.000,20,SUBN,DODGE,P,13490,...,BLU,0,2007,-,0,NaN,NaN,NaN,NaN,NaN
2,1457622427,FJH6630,TX,PAS,2021-06-17T00:00:00.000,98,SDN,AUDI,P,79430,...,WHITE,0,0,-,0,NaN,NaN,NaN,NaN,NaN
3,1457638629,RD1Y5N,MO,PAS,2021-06-16T00:00:00.000,98,SDN,TOYOT,P,53130,...,TAN,0,2001,-,0,NaN,NaN,NaN,NaN,NaN
4,1457639580,T503814C,NY,OMT,2021-07-04T00:00:00.000,40,TAXI,HONDA,P,81030,...,WHI,0,2020,-,0,NaN,NaN,NaN,NaN,NaN

In [16]:
df.dtypes

summons_number                int16
plate_id                     object
registration_state           object
plate_type                   object
issue_date                   object
violation_code                int16
vehicle_body_type            object
vehicle_make                 object
issuing_agency               object
street_code1                  int64
street_code2                  int64
street_code3                  int64
vehicle_expiration_date       int64
violation_location          float64
violation_precinct            int64
issuer_precinct               int64
issuer_code                   int64
issuer_command               object
issuer_squad                  int64
violation_time               object
time_first_observed          object
violation_county             object
violation_in_front_of_or     object
house_number                 object
street_name                  object
intersecting_street          object
date_first_observed           int64
law_section                   int64
sub_division                 object
violation_legal_code        float64
days_parking_in_effect       object
from_hours_in_effect         object
to_hours_in_effect           object
vehicle_color                object
unregistered_vehicle          int64
vehicle_year                  int64
meter_number                 object
feet_from_curb                int64
violation_post_code         float64
violation_description       float64
no_standing_or_stopping     float64
hydrant_violation           float64
double_parking_violation    float64
dtype: object

In [11]:
df.columns

Index(['summons_number', 'plate_id', 'registration_state', 'plate_type',
       'issue_date', 'violation_code', 'vehicle_body_type', 'vehicle_make',
       'issuing_agency', 'street_code1', 'street_code2', 'street_code3',
       'vehicle_expiration_date', 'violation_location', 'violation_precinct',
       'issuer_precinct', 'issuer_code', 'issuer_command', 'issuer_squad',
       'violation_time', 'time_first_observed', 'violation_county',
       'violation_in_front_of_or', 'house_number', 'street_name',
       'intersecting_street', 'date_first_observed', 'law_section',
       'sub_division', 'violation_legal_code', 'days_parking_in_effect',
       'from_hours_in_effect', 'to_hours_in_effect', 'vehicle_color',
       'unregistered_vehicle', 'vehicle_year', 'meter_number',
       'feet_from_curb', 'violation_post_code', 'violation_description',
       'no_standing_or_stopping', 'hydrant_violation',
       'double_parking_violation'],
      dtype='object')

In [13]:
df['violation_time'].compute()

0      0130A
1      0225A
2      0809P
3      0605P
4      1058P
       ...
995    1235A
996    0710A
997    0715A
998    1123A
999    0133P
Name: violation_time, Length: 1000, dtype: object

In [10]:
df.known_divisions

False

In [2]:
## Total Number of parking tickets

In [3]:
## Total Number of parking tickets per district

In [4]:
## Total Number of parking tickets per day

In [5]:
## Total Number of parking tickets depending on the weather

In [6]:
## Total Number of parking tickets distant to schools

## Total Number of parking tickets distant to businesses

## Total Number of parking tickets distant to tourist attractions